html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  width: 100vw;
  height: 100vh;
  line-height: 25px;
  color: darkslategray;
}

* {
  box-sizing: border-box;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;

}

#header > * {
  width: 50%;
  padding: 20px;
  margin: -1px;
}

#about-btn, #index-btn {
  cursor: pointer;
}

#about-btn:hover, #index-btn:hover {
  text-decoration: underline;
}

#body-container {
  width: 100vw;
  display: flex;
}

#index {
  width: 50vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  color: dodgerblue;
}

#index-body {
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#index-body::-webkit-scrollbar {
  display: none;
}

#index h3 {
  display: none;
}

#index h1 {
  font-weight: normal;
  font-size: 1rem;
}

.index-item {
  cursor: pointer;
}

.index-item:hover {
  text-decoration: underline;
}

.selected-index-item {
  cursor: default;
  text-decoration: underline;
}

#content {
  height: 100vh;
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
  overflow: scroll;
}

.content-item {
  display: none;
  max-width: 800px;
  margin: auto;
}

#content h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 20px;
}

#content h2 {
  font-size: 1rem;
  font-weight: bold;
}

#content h3 {
  font-size: 1rem;
  font-weight: bold;
}

a {
  font-style: italic;
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: underline;
}

blockquote p {
  text-indent: -0.4em;
}

img {
  max-width: 100%;
}



